@model Entities.Camera
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = Model.Ten;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section Style{ }

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            @foreach (var img in Model.DsHinh)
                            {
                                <div class="item-slick3" data-thumb="@img.Link">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="@img.Link" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@img.Link">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 id="modelName" class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.Ten
                    </h4>

                    <span class="mtext-106 cl2">
                        @Model.GiaBan
                    </span>

                    <!--  -->
                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number" id="num-product" name="num-product" value="1">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>

                                <button onclick="addCart(@Model.IdCam)" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--  -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bor10 m-t-50 p-t-43 p-b-40">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Mô tả</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Thông tin chi tiết</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-43">
                    <!-- - -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <p class="stext-102 cl6">
                                @Html.Raw(@Model.MoTa)
                            </p>
                        </div>
                    </div>

                    <!-- - -->
                    <div class="tab-pane fade" id="information" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <ul class="p-lr-28 p-lr-15-sm">
                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Nhà sản xuất
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.NhaSanXuat.TenNSX
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Xuất xứ
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.XuatXu
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Cảm biến
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.CamBien
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Âm thanh
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.AmThanh
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Độ phân giải
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.DoPhanGiai
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Dung lượng bộ nhớ
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.DungLuong
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Tầm nhìn xa
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.KhoangCach
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Góc xoay <br /> (ngang &times; dọc)
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @Model.DoXoayNgang &times; @Model.DoXoayDoc
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Kết nối qua dây cap
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @if (Model.CoDay)
                                            {
                                                <span>Có</span>
                                            }
                                            else
                                            {
                                                <span>Không</span>
                                            }
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Kết nối qua wifi
                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            @if (Model.KhongDay)
                                            {
                                                <span>Có</span>
                                            }
                                            else
                                            {
                                                <span>Không</span>
                                            }
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Sản phẩm liên quan
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var item in ViewBag.RelatedProduct)
                {
                    var imgUrl = "http://placehold.it/200x200";
                    @foreach (var img in item.DsHinh)
                    {
                        if (img.HinhDaiDien)
                        {
                            imgUrl = img.Link;
                        }
                    }
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="@imgUrl" alt="IMG-PRODUCT">

                                <a href="#" data-id="@item.IdCam" class="btnShow block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Xem nhanh
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.IdCam})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @item.Ten
                                    </a>

                                    <span class="stext-105 cl3">
                                        @item.GiaBan
                                    </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="/Assets/User/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Assets/User/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Script{
    <script>
    function addCart(id) {
        var amount = $("#num-product").val();
        var name = $("#modelName").html();
        var idkh = '@Context.Session.GetInt32("UserID")';
        console.log(id, idkh);
        $.ajax({
            url: '/Cart/AddCart',
            method: "POST",
            data: {
                IdCam: id,
                IdTK: idkh,
                Sl: amount
            }
        })
            .done(function (e) {
                if (e == 1) {
                    swal({
                        title: "Thêm thành công",
                        text: `Đã thêm sản phẩm ${name} số lượng ${amount} vào giỏ hàng thành công`,
                        icon: "success",
                    });
                }
            })
            .fail(function (e) {
                console.log(e);
            });
    }
    </script>
}
