@model Entities.Camera
@using Microsoft.AspNetCore.Http;

<div class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots">
                    <ul class="slick3-dots">
                        @foreach (var img in Model.DsHinh)
                        {
                            <li role="presentation">
                                <img src="@img.Link">
                                <div class="slick3-dot-overlay"></div>
                            </li>
                        }
                    </ul>
                </div>

                <div class="slick3 gallery-lb">
                    <div class="item-slick3">
                        <div class="wrap-pic-w pos-relative">
                            <img src="@Model.DsHinh[0].Link" id="presentation" alt="IMG-PRODUCT">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 id="modelName" class="mtext-105 cl2 js-name-detail p-b-14">
                @Model.Ten
            </h4>

            <span class="mtext-106 cl2" id="money" data-money="@Model.GiaBan">

            </span>

            <p class="stext-102 cl3 p-t-23">
                @Model.MoTa
            </p>

            <!--  -->
            <div class="p-t-33">
                <div class="flex-w flex-r-m p-b-10">
                    <div class="size-204 flex-w flex-m respon6-next">
                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                <i class="fs-16 zmdi zmdi-minus"></i>
                            </div>

                            <input id="num-product" class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                <i class="fs-16 zmdi zmdi-plus"></i>
                            </div>
                        </div>

                        <button onclick="addCart(@Model.IdCam)" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                <div class="flex-m bor9 p-r-10 m-r-11">
                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                </div>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function addCart(id) {
        var amount = $("#num-product").val();
        var name = $("#modelName").html();
        var idkh = '@Context.Session.GetInt32("UserID")';
        console.log(id, idkh);
        $.ajax({
            url: '/Cart/AddCart',
            method: "POST",
            data: {
                IdCam: id,
                IdTK: idkh,
                Sl: amount
            }
        })
            .done(function (e) {
                if (e == 1) {
                    swal({
                        title: "Thêm thành công",
                        text: `Đã thêm sản phẩm ${name} số lượng ${amount} vào giỏ hàng thành công`,
                        icon: "success",
                    });
                }
            })
            .fail(function (e) {
                console.log(e);
            });
    }
    function formatMoney(val) {
        var formatter = new Intl.NumberFormat();
        return formatter.format(val) + " VNĐ";
    }
    $("#money").html(formatMoney($("#money").data("money")));
    $(".btn-num-product-up").click(function (e) {
        var val = eval($("#num-product").val());
        $("#num-product").val(val + 1);
    });
    $(".btn-num-product-down").click(function (e) {
        var val = eval($("#num-product").val());
        if (val !== 0)
            $("#num-product").val(val - 1);
    });
    $('li[role="presentation"]').click(function (e) {
        var url = "";
        $(this).children("img").each(function (index, value) {
            url=value.src;
        });
        $("#presentation").attr("src", url);
    })
</script>
